<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<div class="gdlr-item gdlr-blog-grid" >
<%unless @blogpost.empty? %>
<% @blogpost.each do |f| %>
	<div class="gdlr-ux gdlr-blog-grid-ux" style="opacity: 1; padding-top: 0px; margin-bottom: 0px;     margin-bottom: 2px;">
	<article id="post-870" class="post-870 post type-post status-publish format-standard has-post-thumbnail hentry category-blog category-fit-row tag-business tag-life-style tag-travel">
		<div class="gdlr-standard-style">
			<header class="post-header">
				<h3 class="gdlr-blog-title" style="text-align: left;">
					<a href="<%= myadvices_blog_path(f.id) %>"><p style="font-size:13px;"><%= f.title %></p> </a>
				</h3>
			</header><!-- entry-header -->
		</div>
	</article>
	<lable style="text-align:justify;"><%=raw f.description.truncate(150) %>
	</lable><!--  <div class="clear"></div> -->
	<a href="<%= myadvices_blog_path(f.id) %>">Read More</a>
	</div>

<% end %>
<a href="<%= myadvices_myadvice_path %>" class="gdlr-button with-border excerpt-read-more" style="background-color: #72d5cd;border-color: #72d5cd;padding: 4px 23px;margin-left: 0px;margin-top: 2px;">View More</a>
<% else %>
	<P>No RECENT BLOG POST</P>
<%end%>
<link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
</div>
