<%= render :partial => 'layouts/slider' %>

<%= render :partial => 'homepage/groupnews' %>

<% unless @users.nil? || @schools.nil? %>

  <%= render :partial => 'homepage/recentapp' %>
  <%else %>
  <p>No Recent Application</p>
<% end %>

<%= render :partial => 'homepage/user' %>

<%#= render :partial => 'homepage/searchschool' %>

<%= render :partial => 'homepage/testimonials' %>

<%= render :partial => 'homepage/social' %>
<link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>

