<div class="gdlr-lms-content">
	<div class="two columns"><%= ad_unit(:skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %></div>
	<div class="eight columns">
			<div class="gdlr-item gdlr-tab-item horizontal">
			<div class="tab-title-wrapper">
			<h4 class="tab-title active">
			<i class="icon-inbox"></i><span>Inbox</span></h4>
			<h4 class="tab-title ">
			<i class="icon-share-alt"></i><a href="<%=mailboxes_mailbox_path %>">Outbox</a></h4><a href="<%=mailboxes_mailbox_path %>"><h4 class="tab-title "><i class="icon-edit"></i>Compose</h4></a></div><div class="tab-content-wrapper"><div class="tab-content active">
			<div>
			 <p><a href="/mailboxes/mailbox" style="color:blue; font-family:arial">Back to inbox</a><br>
			 </p>
			 <p><a href="#">Mba Numbers</a><br></p>	
			 <div class="gdlr-divider thick"></div>
			 
            <p style="color:black"><%=@inbox.subject%></p>
       
						<%=@inbox.message %>
				<div class="gdlr-divider dotted"></div>
				<%# @reply.each do |f| %>
				<%#= f.message %>
				<!-- <div class="gdlr-divider dotted"></div> -->
				<%#end %>
						
			<!-- <div class="gdlr-divider dotted"></div> -->
						<!-- <p>Your Reply<br> -->
				<%#=form_tag mailboxes_save_path %>
				<!-- <input type="hidden" name="outbox_id" value='<%#= params[:id]%>'> -->			
				<!-- <span class="gdlr-item gdlr-content-item gdlr-lms-form">
		<%#= text_area_tag 'message' , "",class: 'form-control' ,placeholder: 'Message' %>
		</span> </p> -->
   				<%#= submit_tag 'Send',class: 'wpcf7-form-control wpcf7-submit',name: 'send' %>
			</div>
			</div>
			</div>
			</div>
			</div>
			<div class="clear"></div>
			</div>