

<div id="gdlr-header-substitute" style="height: auto;"></div>

<div class="gdlr-lms-container gdlr-lms-container">
        <div class="gdlr-lms-item">
<div class="with-sidebar-container container">
		

	<div class="with-sidebar-left eight columns">
		<div class="with-sidebar-content twelve columns">
			<section id="content-section-1">
				<div class="section-container container">
				<span style="font-size: 15px;"><a href="<%= root_path %>">Home</a></span><i class="icon-chevron-right" style="margin-left: 10px;"></i><i class="icon-chevron-right"  ></i>
<span style="font-size: 15px;"><a href="<%= myadvices_myadvice_path %>">Myadvice</a></span>
					<div class="blog-item-wrapper">
						<div class="blog-item-holder">
							<% @blogpost.each do |b| %>
							<div class="gdlr-item gdlr-blog-full">
								<div class="gdlr-ux gdlr-blog-full-ux">
									<article id="post-859" class="post-859 post type-post status-publish format-standard has-post-thumbnail hentry category-blog category-fit-row category-life-style tag-blog tag-life-style">
										<div class="gdlr-standard-style">
										<div class="gdlr-blog-thumbnail">
										<a href="#"> <img src="<%= getpath b.photo_id unless b.photo_id.nil?%> " alt="" style="width: 730px;
height: 321px;"></a>		
										</div>


										<div class="blog-date-wrapper">
										<span class="blog-date-day">
											<%=  b.created_at.strftime(" %d ") %>
										</span>
										<span class="blog-date-month">
												<%=  b.created_at.strftime(" %b ") %>
										</span>
										<span class="blog-date-year">
												<%=  b.created_at.strftime(" %Y ") %>
										</span>
										</div>

										<div class="blog-content-wrapper">
										<header class="post-header">
										<h3 class="gdlr-blog-title"><a href="#"><%= b.title %></a></h3>


										<div class="gdlr-blog-info gdlr-info"><span class="gdlr-seperator">/</span><div class="blog-info blog-comment"><span class="gdlr-head">Comments</span><a href="http://themes.goodlayers.com/clevercourse/sedial-eiusmod-tempor/#respond">
										<%=Myadvice.where('post_id=?',b.id).count %>
										</a></div><div class="clear"></div></div>			
										<div class="clear"></div>
										</header><!-- entry-header -->
										<div class="gdlr-blog-content"><%= raw(b.description.truncate(250)) %> <div class="clear"></div>
										<a href="<%= myadvices_blog_path(b.id) %>" class="gdlr-button with-border excerpt-read-more" style="margin-top: 8px;padding: 7px 23px;">Read More</a>
										</div>		</div> <!-- blog content wrapper -->
										</div>
								 </article>
								</div>
							</div>
							<% end %>
						</div>
					</div>
					<div class="clear"></div>
					<%= will_paginate @blogpost, :class => 'gdlr-pagination'%>
				</div>
			</section>

		</div>
		<div class="clear"></div>

	</div>
	<div class="gdlr-sidebar gdlr-right-sidebar one columns" style="margin-top:100px; "></div>
	<div class="gdlr-sidebar gdlr-right-sidebar two columns" style="margin-top:100px; ">
		<div class="google_adsense skyscraper" style="padding-left: 18px;">
						<%#= ad_unit(:wide_skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>
						<%=image_tag '3.jpg' %>
		</div>
		<div class="google_adsense skyscraper" style="padding-left: 18px;">
						<%#= ad_unit(:wide_skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>
						<%=image_tag '4.jpg' %>
		</div>
	</div>

	<div class="clear"></div>
</div>
</div>
</div>