
<div class="gdlr-lms-container gdlr-lms-container">
        <div class="gdlr-lms-item">

<div class="with-sidebar-left seven columns">
            <div class="with-sidebar-content twelve columns">
              <section id="content-section-2"><div class="section-container container"><div class="gdlr-item gdlr-content-item" style="margin-bottom: 60px;"><p>
</p><div class="clear"></div>
<div class="gdlr-space" style="margin-top: -22px;"></div>
<h5 class="gdlr-heading-shortcode " style="font-weight: bold;">Talk to us!</h5>
<div class="clear"></div>
<div class="gdlr-space" style="margin-top: 45px;"></div>
<div class="wpcf7" id="wpcf7-f8-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>

<div style="display: none;">
<input type="hidden" name="_wpcf7" value="8">
<input type="hidden" name="_wpcf7_version" value="4.0.3">
<input type="hidden" name="_wpcf7_locale" value="en_US">
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f8-o1">
<input type="hidden" name="_wpnonce" value="87428653a9">
</div>
<%=form_tag subscribes_submitcontact_path, :class =>'wpcf7-form' do |f| %>
<p>Your Name (required)<br>
    <span class="wpcf7-form-control-wrap your-name">
     <%= text_field_tag 'name' , "",class: 'wpcf7-form-control wpcf7-text wpcf7-validates-as-required' ,placeholder: 'Name' %>

    </span> </p>
<p>Your Email (required)<br>
    <span class="wpcf7-form-control-wrap your-email">
      <%= text_field_tag 'email' , "",class: 'wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email' ,placeholder: 'Email' %>
    </span> </p>
<p>Subject<br>
    <span class="wpcf7-form-control-wrap your-subject">
      <%= text_field_tag 'subject' , "",class: 'wpcf7-form-control wpcf7-text' ,placeholder: 'Subject' %>
    </span> </p>
<p>Your Message<br>
    <span class="wpcf7-form-control-wrap your-message">
    <%= text_area_tag 'msg' , "",class: 'wpcf7-form-control wpcf7-textarea' ,placeholder: 'Message', cols:"40", rows:"10" %>
    </span> </p>
<p><%= submit_tag 'Send',class: 'wpcf7-form-control wpcf7-submit',name: 'send' %></p>
<%end %>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div>
</div><div class="clear"></div></div></section>             
            </div>
            
            <div class="clear"></div>

          </div>
          <!-- -------------------------------------------------------------- -->
           

          <div class="gdlr-sidebar gdlr-right-sidebar four columns">
  <div class="gdlr-item-start-content sidebar-right-item">
  <div class="profile_blog_rgt" style="border:none">
     <%= ad_unit(:wide_skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>
     </div>
    </div>
</div>



          <!-- -------------------------------------------------------------- -->
           <div class="clear"></div>
           
<div class="clear"></div>

           </div>
           </div>
