
<%binding.pry%>

<%@member = Member.curent_user(mydata.user_id) %>
<ol class="commentlist">
	<li class="comment byuser comment-author-gdadmin bypostauthor even thread-even depth-1" id="li-comment-7">
		<article id="comment-7" class="comment-article">
			<div class="comment-avatar"><img alt="" src="<%=@member.image.thumb('60x60').url%>" class="avatar avatar-60 photo" height="60" width="60" style="opacity:1;"></div>
			<div class="comment-body">
				<header class="comment-meta">
					<div class="comment-author gdlr-title"><%= @member.username %></div>
					<div class="comment-time">
						<i class="icon-time"></i>
						<a href="">
							<time><%=mydata.created_at.strftime('%A, %d %b %Y %l:%M %p') %></time>
						</a>
					</div>
				</header>
				<section class="comment-content">
					<h5><%=mydata.title %></h5>
					<p><%=mydata.comment %></p>
				</section><!-- comment-content -->
			</div><!-- comment-body -->
		</article><!-- comment-article -->
	</li><!-- #comment-## -->
</ol>	