<div class="gdlr-item gdlr-divider-item"></div>

<div class="profile_blog_lft">
                <%= ad_unit(:skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>
                </div>
                <div>
                <div class="profile_blog_mid_rgt">
                    <div class="profile_search_blog">
                    <%=form_for @user, :url => {:action => 'update'},:html => {:class => "gdlr-lms-form"} do |f| %>
        <dl class="dl-horizontal">
            
            <dt>Hometown</dt>
            <dd><%= text_field_tag 'member[hometown]' , current_user.hometown,placeholder: 'Hometown' %></dd>
           
            <!-- <dt>Undergraduate</dt>
            <dd><%#= text_field_tag 'member[undergraduate_school]' , current_user.undergraduate_school ,placeholder: 'Undergraduate' %></dd>

            
            
            <dt style="width: 172px";>Undergraduate year*</dt>

            <dd>
            <span class='gdlr-lms-combobox' style="width: 110px;">
                <%#=select_year(Date.today,:selected => current_user.year)%>    
            </span>
            <script type="text/javascript">
                        for(var i=0;i<document.getElementById('date_year').length;i++)
                        {
                            if(document.getElementById('date_year').options[i].value=="<%= current_user.year  %>")
                            {
                                document.getElementById('date_year').options[i].selected=true
                            }
                        }          
            </script>
            </dd> -->
            <dt>GPA</dt>

                <dd>
                <%#binding.pry %>
            <%= text_field_tag 'member[gpa]' ,  '%.2f' %  current_user.gpa ,placeholder: 'GPA ' %></dd>
            <dt>GMAT Score</dt>
            <dd><%= text_field_tag 'member[gmat_score]' , current_user.gmat_score,placeholder: 'GMAT Score' %></dd>
            <dt>Work Experience and <br> Other Information</dt>
            <dd><%= text_field_tag 'member[exp]' , current_user.exp,placeholder: 'Work Experience' %></dd>
            <!-- <dt>Status</dt> -->
            <!-- <dd>
           
            <%#=select_tag 'member[status]', options_for_select([ "Commited", "Open" ]), :style => 'width: 356px;height: 44px;background-color: white;color: #B3ACAC;' %>
            


            <script type="text/javascript">
                        for(var i=0;i<document.getElementById('member_status').length;i++)
                        {
                            if(document.getElementById('member_status').options[i].value=="<%= current_user.status  %>")
                            {
                                document.getElementById('member_status').options[i].selected=true

                            }
                        }          
            </script>
            
            </dd> -->
            <!-- <div style="display:none;" id="undergrad">
            <dt>Undergraduate</dt>
            <dd>
               
            
                <% # text_field_tag 'member[school]' ,current_user.school, placeholder: 'Undergraduate',:required => "true"%>
            
            </dd>
            </div> -->
            
        
            
        </dl>
 <div style="width:100%;margin-left: 208px;">
<%= submit_tag 'Submit',class: 'wpcf7-form-control wpcf7-submit',name: 'signup',style:'font-size:15px;margin-top: 13px;'%>
<a href="<%=profile_index_path %>">
<input class="wpcf7-form-control wpcf7-submit" name="signup" style="font-size:15px;margin-top: 13px;" type="submit" value="Cancel"></a>


</div>

        </div>
    <%end%> 


                    </div>
                    </div>

                    <div class="profile_blog_rgt">
                <%= ad_unit(:skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>
                </div>
<div class="clear"></div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
$("#member_status").change(function(){

    if($("#member_status").val()=="Commited")
    {
        $("#undergrad").css("display","block");
    }

    if($("#member_status").val()=="Open")
    {
        $("#undergrad").css("display","none");
    }
  
    
});

if($("#member_status").val()=="Commited")
{
    $("#undergrad").css("display","block");
}


</script>