<div class="gdlr-item gdlr-divider-item"></div>
<% 
def addthree(max)
    # Return a sequence incremented by three up to the max.
    i = 200
    while i <= max
    yield i
    i += 10
    end
end
%>

<style type="text/css">
    .hover {
    position:relative;
    float:left;
    
}

.tooltip {
  top: -40px;
  background-color:black;
  color:white;
  border-radius:5px;
  opacity:0;
  position:absolute;
  padding: 3px;
  -webkit-transition: opacity 0.5s;
  -moz-transition:  opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition:  opacity 0.5s;
  transition:  opacity 0.5s;
  width: 100px;
}

.hover:hover .tooltip {
    opacity:1;
}
header
{
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 25px;  
}

#info
{
  font-size: 18px;
  color: #555;
  text-align: center;
  margin-bottom: 25px;
}

a{
  color: #074E8C;
}

.scrollbar
{
  margin-left: 0px;
  float: left;
    height: 315px;

  
  background: #F5F5F5;
  overflow-y: scroll;
  margin-bottom: 0px;
    width: 100%;
}

.force-overflow
{
  min-height: auto;
}

#wrapper
{
  text-align: center;
  width: auto;
  margin: auto;
}

/*
 *  STYLE 4
 */

#style-4::-webkit-scrollbar-track
{
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;*/
}

#style-4::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
  background-color: #7E7ECD;
  border: 2px solid #7E7ECD;
}



</style>
<div class="content-wrapper">
<!-- <div class = "one columns">
<div class="gdlr-item gdlr-divider-item"></div>
  <%#= ad_unit(:skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>
</div> -->
  <div id="primary" class="content-area" style="  background-color: white;">
    <div id="content" class="site-content" role="main">
      <div class="gdlr-lms-content">
        <div class="gdlr-lms-container gdlr-lms-container">
        <div class= "twelve column">
          <div class="gdlr-lms-item">
            <div class="gdlr-lms-author-info-wrapper">
              <div class="gdlr-lms-author-thumbnail">
        <% unless current_user.image.nil? %>
              <%= image_tag current_user.image.url, :style => "width:350px;height:250px; " %>
                <%else %>
                <img src="/assets/profile.png" alt="Edit Entry" style="width:350px;height:250px;" />
                
                
            <% end %></div>
        <div class="gdlr-lms-author-title-wrapper">
        <div class="gdlr-lms-author-name"><%=current_user.username.capitalize %></div>
        <div style="margin-top: 11px;  margin-bottom: 29px;">
        <div class="hover">
                    <%= image_tag 'congo.png', :style => "  margin-top: -10px;
"%>
                    <div class="tooltip">
                            <%
                                @username=Like.where('puser_id = ?',current_user.id)
                            %>
                            <% unless @username.empty? %>
                            <%
                                 @username.each do |f|
                                 
                            %>
                                  <% f.puser_id      
                                  @likename=Member.find_by_id(f.cuser_id)
                                  %> 

                                  <%= @likename.username %>
                                  <br>
                            <%
                                end
                                
                            %>
                            <% else %>
                             No Members...
                            <%
                              end
                             %>

                            



                          </div>
                </div>
                <% 
                          @count=Like.where('puser_id = ?',current_user.id).count 
                          
                        %>        
                        
                         <div style="width:31px;height:25px;background-color:green;border: 0px solid;border-radius: 30px;text-align: center;color: white;display: inline-block;margin-left: 5px;" ><%= @count %>

                          

                         </div>  Have Congratulated You
                          </div>
        <div class="gdlr-lms-author-position"> GPA: <%= number_with_precision(current_user.gpa, precision: 2)  %>
                           <br> 
                            GMAT: <%=current_user.gmat_score %> | Class of <%=current_user.year %></div></div>
        <div class="gdlr-lms-author-info">
        <div class="author-info phone">
        <i class="icon-envelope-alt" style="color: white; font-size: 16px; "></i><a href="<%= mailboxes_mailbox_path %>">Mailbox</a></div>
        <div class="author-info mail">
       <i class="icon-location-arrow" style="color: white; font-size: 16px;"></i><a href="<%= mailboxes_newest_path %>">Send Message</a></div>
        <div class="author-info url"><i class="icon-plus-sign" style="color: white; font-size: 16px; "></i><a href="<%= schools_profile_path %>">Add School</a>
        </div>
        <div class="author-info url"><div class="mtbtn" title="Post a new topic" style="display:inline-block"><i class="icon-edit" style="color: white; font-size: 16px;"></i>
      <a  data-rel="gdlr-lms-lightbox" data-lb-open="login-form" style="color: rgb(204, 204, 204); ">Edit Profile</a>
    </div>
        </div>


        </div>

        <!-- <div class="gdlr-lms-author-social"><a class="lms-social-shortcode" target="_blank" href="#">
        <img src="http://themes.goodlayers.com/clevercourse/wp-content/plugins/goodlayers-lms/social-icon-color/twitter.png" alt="twitter" style="opacity: 1;"></a> 
        <a class="lms-social-shortcode" target="_blank" href="#">
        <img src="http://themes.goodlayers.com/clevercourse/wp-content/plugins/goodlayers-lms/social-icon-color/linkedin.png" alt="linkedin" style="opacity: 1;"></a> 
        <a class="lms-social-shortcode" target="_blank" href="#">
        <img src="http://themes.goodlayers.com/clevercourse/wp-content/plugins/goodlayers-lms/social-icon-color/googleplus.png" alt="googleplus" style="opacity: 1;"></a> 
        <a class="lms-social-shortcode" target="_blank" href="#">
        <img src="http://themes.goodlayers.com/clevercourse/wp-content/plugins/goodlayers-lms/social-icon-color/facebook.png" alt="facebook" style="opacity: 1;"></a> 
        <a class="lms-social-shortcode" target="_blank" href="#">
        <img src="http://themes.goodlayers.com/clevercourse/wp-content/plugins/goodlayers-lms/social-icon-color/pinterest.png" alt="pinterest" style="opacity: 1;"></a></div> -->
        <!-- <a class="gdlr-lms-button cyan" href="/clevercourse/author/rebeccasm/?post_type=course">View courses by Rebecca</a> -->
          
          <div class="gdlr-lms-instructor-content">
              <div class="gdlr-lms-author-name" style="  text-align: center;  background: white;  color: black;  padding: 10px;">Bookmarked Profiles</div>
              <div class="scrollbar" id="style-4">
      <div class="force-overflow">
              <div class="gdlr-lms-instructor-thumbnail" style="padding:8px; ">
              <%#binding.pry %>
               <div class="gdlr-lms-instructor-title-wrapper">
    <%=form_tag profile_viewusers_path, :method => 'get' do |f|  %>
     <%= text_field_tag 'username' , "",:style => 'color:black; background-color:white; border:1px solid;border-color: #D7D1D1;border-radius: 4px;',:placeholder => 'Enter member name', :id => 'tags'  %>
     <%= submit_tag 'Search',:style => '  padding: 2%;color:white; background-color:#F7BD4F;  margin-top: 4%;' %>
<% end -%>
              </div>
              
             <% @allmember.each do |key| %>
                          <% unless  @allmember.blank? %>
                          
              

    
                  <% @user_name= Member.find(key.bookmarkuserid) %>

              <h6 style="margin-bottom:0px" > <a href="<%= static_profile_path(@user_name.username) %>"><%= @user_name.username %></a>  </h6>
              <div class="gdlr-lms-instructor-position">(GPA: <%= number_with_precision(@user_name.gpa, precision: 2)  %>, &nbsp
                 GMAT: <%= @user_name.gmat_score%> )</div><br> <hr>
                 <%else %>
        <%="No Bookmarklists" %>
         <%end %>
          <%end %>
</div></div></div>

           
              
          </div>


        </div>


        <div class="gdlr-lms-author-content-wrapper">

        <div class= "twelve column">
        
          
                       <!--   <div class="profile_search_blog_rgt"> -->
                        

            <!-- </div>   -->           
            <div class="gdlr-lms-author-extra-info-wrapper" style="  letter-spacing: 1.5px; margin-right: 15px;
" >
                         
                           
<!-- <select id="demo" style="margin-top: -13px;position: absolute;left: 928px;width: 228px;background-color: white;border-color: #D7D1D1;display:none;   margin-left: -7%;"><option value="">----select--------</option></select> -->


                               
                            
        <div class="gdlr-lms-extra-info location">
        <span class="gdlr-head">Hometown/Zipcode</span>
        <span class="gdlr-tail"><%=current_user.hometown %></span>
        </div>
        <div class="gdlr-lms-extra-info current-work"><span class="gdlr-head">Undergraduate</span>
        <span class="gdlr-tail"><%=current_user.undergraduate_school %></span>
        </div>
        <div class="gdlr-lms-extra-info past-work">
        <span class="gdlr-head">Work Experience and Other Information</span>
        <span class="gdlr-tail"><%if current_user.exp.blank?  %>
                         <span><%="--" %></span>
                        <%else %> 
                            
                        <span><%=current_user.exp %></span> 
                        <%end %></span>
        </div>
        <div class="gdlr-lms-extra-info specialist">
        <span class="gdlr-head">Status</span>
        <span class="gdlr-tail"><% unless current_user.commitschool.nil? %>  
                        <%#binding.pry %>
                         <span>COMMITED To
                         <% sid=current_user.commitschool.split('-') %>
                        <% #binding.pry %>           
                    <% @slogo=School.find_by_id(sid[2]) %>
                    
                        
              <% a=current_user.commitschool.split('-') %> <%= a[0] %> - <%= a[1] %>  On <%= current_user.updated_at.strftime("%m-%d-%Y")  %> 

              <img alt="Icon" src="<%= @slogo.image.thumb('150x150').url %>" style="width: 78px; height: 41px;" />   </span>
                         <% else %>
                           <span>OPEN</span>
                        <% end %></span></div>
        <div class="gdlr-lms-extra-info experience">
        <span class="gdlr-head">Program Type</span>

        <span class="gdlr-tail"><%@program= Application.find_by_user_id(current_user.id)%>
                         <%if @program.nil? %>
                            <span><%="Not Decided" %></span>
                            <%else %>
                              <span><%=@program.program %></span>
                            <%end %>
                         </p></span></div></div>
        </div>
        <!-- <div class= "three column"> kdjcfsdkjfksdljfkldjskfjsdklnfknf</div> -->
        <div class= "twelve column">
        <div class="gdlr-lms-author-content-wrapper">
        <table class="style-1">
<tbody>
<tr>
<th style="text-align: center;font-size:13px;padding: 6px;" >School</th>
                            <th style="text-align: center;  font-size: 13px;  padding: 7px;">Scholarship <br> ($)</th>
                            <th style="text-align: center;  font-size: 13px;padding: 6px;
">Status</th>
                            <th style="text-align: center;  font-size: 13px;padding: 6px;
">Last Updated</th>
                            <th style="text-align: center;  font-size: 13px;padding: 6px;
">Interview Date</th>
                            <th style="text-align: center;  font-size: 13px;padding: 6px;
">Round Applied</th>
                            <th style="text-align: center;  font-size: 13px;padding: 6px;
">Date Applied</th>
                            <th style="text-align: center;  font-size: 13px;padding: 6px;
">Date Decision Received</th>
</tr>
<% @app_data.each_with_index do |ad , k | %>
<tr>
<td>
        <div class="floatleft school-logo" style="margin-right:12px">
       
                <% sid =ad.school.split('-') %>
                                <% @slogo=School.find_by_id(sid[2]) %>
                              
                                <img alt="Icon" src="<%=@slogo.image.thumb('150x150').url %>" style="width: 100px; height: 41px;padding:10px" /> 
                            </div><div><% sname=ad.school.split('-') %>
                                        <%= sname[0] %> - <%= sname[1] %>
                            <br>
                            <div style="  text-align: right;">
                            <% if ad.status=="Accepted"%>
                           
          <input type="hidden" id = "commitsname<%= k %>" value="<%= ad.school %>">
            <a href="javascript:void(0)" id="commit<%= k %>" style="color:green;  padding: 5px;">Commit</a><%end %>
                              <a href="<%=schools_edit_path(ad.id)%>">
                            <i class="gdlr-icon icon-edit" style="color: blue; font-size: 14px; "></i></a>
                            <a href="<%=schools_destroy_path(ad.id)%>"><i class="gdlr-icon icon-remove" style="color: red; font-size: 14px; "></i></a><br></div>
                              
                            </div>
        
                </td>
<td style="padding: 6px;"><%if ad.scholarship.empty? %>
                            0
                            <%else %>
                            <%= ad.scholarship %>
                            <%end %></td>
<td id="td" style="font-size:9px; text-align: center;padding: 6px;">
                            <% if ad.status == "Waitlisted" %>
                            <%= ad.status %>
                                <i class="gdlr-icon icon-circle-blank" style="color: #91d549; font-size: 16px; text-ailgn:center "></i>
                                
                                <% elsif ad.status == "WL, Rejected" || ad.status == "Rejected"%>
                                <%= ad.status %>
                                <i class="gdlr-icon icon-remove" style="color: red; font-size: 16px; bacground-color:white;text-ailgn:center "></i>
                                <% elsif ad.status == "Accepted" %>
                                <%= ad.status %>
                                  <i class="gdlr-icon icon-ok" style="color: #91d549; font-size: 16px;text-ailgn:center  "></i>
                                <% elsif ad.status == "WL, Accepted" %>
                                <%= ad.status %>
                                    <i class="gdlr-icon icon-ok" style="color: #91d549; font-size: 16px;text-ailgn:center  "></i>
                                    <% elsif ad.status == "Rejected" %>
                                    <%= ad.status %>
                                  <i class="gdlr-icon icon-remove" style="color: #91d549; font-size: 16px;text-ailgn:center  "></i>
                                <% else %>
                                <%= ad.status %>

                                    <i class="gdlr-icon icon-spinner" style="color: #91d549; font-size: 16px;text-ailgn:center  "></i>
                                
                            <% end %>
                                </td>

                            <td id="td"  style="font-size:9px; text-align: center;padding: 6px;"><%= ad.updated_at.strftime("%m/%d/%Y") %>
                            </td>
                            <td id="td" style="font-size:9px; text-align: center;padding: 6px;">
                            <%if ad.interviewdate.nil? %>
                            <%="--" %>
                            <%else %>
                            <%= ad.interviewdate.strftime("%m/%d/%Y") %> 
                            <%end %>
                            </td>

                            <td id="td" style="font-size:9px; text-align: center;padding: 6px;"><%=ad.choice %></td>
                             <td id="td" style="font-size:9px; text-align: center;  padding: 6px;">
                              <%if ad.received.nil? %>
                              <%="--" %>
                              <%else %>

                              <%= ad.received.strftime("%m/%d/%Y") %> 
                              <%end %>
                             <%#binding.pry %></td>

                           
                              <td id="td" style="font-size:9px; text-align: center;padding: 6px;">
                                         <%if ad.descion.nil? %>           
                               Not Decided
                               <%else %>
                              
                                <%= ad.descion.strftime("%m/%d/%Y") %>
                               <%end %> 
                                          </td>
</tr>
<%end %>

</tbody>
</table></div></div>
    <div class="twelve column">
      
      <div id="comments" class="gdlr-comments-area">
                        <h3 class="comments-title" >Responses: <%=@comments.count %> </h3>
                        <%@comments.each do |c| %>
                        <%= render :partial => 'profile/comment', :locals => { :mydata => c } %>

                        <%end %>
                        <%= will_paginate @comments, :class => 'gdlr-pagination'%>
                        <!-- .commentlist -->
                    <div id="respond" class="comment-respond">
                        <h3 id="reply-title" class="comment-reply-title">Your Message</h3>

                        <%=form_tag comment_new_path do %>
                        <%= hidden_field_tag 'username', current_user.username %>
                            <p>Title*<br>
    <span class="wpcf7-form-control-wrap your-subject"><%= text_field_tag 'title' , "",class: 'wpcf7-form-control wpcf7-text' ,placeholder: 'Title',:style=> "width: 46%;border: 1px solid;border-radius: 6px;"  %></span> </p>
                            <p>Your Message<br>
    <span class="wpcf7-form-control-wrap your-message"><%= text_area_tag 'comment' , "",class: 'wpcf7-form-control wpcf7-textarea', placeholder: 'Comment', cols: '40', rows: '10', :style=> "width: 78%;border: 1px solid;border-radius: 6px;" %></span> </p>
                  <%= submit_tag 'Post',class: 'button1' %>
                        <%end %>
                    </div><!-- #respond -->
                    </div>
    </div>



    </div>    <div class="clear"></div>
      </div>
      </div><!-- gdlr-lms-item
    </div><!-- gdlr-lms-container -->
  </div><!-- gdlr-lms-content -->
</div>
</div>

    <div class="clear"></div>
  </div>
   <div class="clear"></div>
   <div class="gdlr-item gdlr-divider-item"></div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
$("#member_status").change(function(){

    if($("#member_status").val()=="Commited")
    {
        $("#undergrad").css("display","block");
    }

    if($("#member_status").val()=="Open")
    {
        $("#undergrad").css("display","none");
    }
  
    
});

if($("#member_status").val()=="Commited")
{
    $("#undergrad").css("display","block");
}


</script>
            </div>
            </div>
            </div>
            <div class="clear"></div>
                    <!-- ---------------commnt---------------- -->
                </div>
    </div><!--wraper-->
    <div class="clear"></div>
<!-- <div class="gdlr-item gdlr-divider-item"></div> -->
<div class="gdlr-lms-lightbox-wrapper" style="display:none;"><div class="mtbtn"></div><div class="gdlr-lms-lightbox-container login-form">
            <div class="gdlr-lms-lightbox-close"><i class="icon-remove"></i></div>
              <h3>Applicant Information</h3>
              <div class="profile_search_blog">
                    <%=form_for @user, :url => {:action => 'update'},:html => {:class => "gdlr-lms-form"} do |f| %>
        <p class="gdlr-lms-half-left">
            
            <label>Hometown</label>
            <%= text_field_tag 'member[hometown]' , current_user.hometown,placeholder: 'Hometown' %></p>
           
            <p class="gdlr-lms-half-left">
            <label>GPA</label>

                
                <%#binding.pry %>
            <%= text_field_tag 'member[gpa]' ,  '%.2f' %  current_user.gpa ,placeholder: 'GPA ' %></p>
             <p class="gdlr-lms-half-left">
            <label style="color:black">GMAT Score</label>
            <span class="gdlr-lms-combobox"  >
            <select name="member[gmat_score]" style="  width: 100%;" id="gmat">
                  <option value="">-----Select----</option>
                  <% addthree(800) do |n| %>
                     <option value="<%= n %>"><%= n %></option>
                  <% end %>
                
              </select>
              <script type="text/javascript">
        for(var i=0;i<document.getElementById('gmat').length;i++)
        {
            if(document.getElementById('gmat').options[i].value=="<%= current_user.gmat_score  %>")
            {
                    document.getElementById('gmat').options[i].selected=true
            }
        }          
            </script>
            <%#= text_field_tag 'member[gmat_score]' , current_user.gmat_score,placeholder: 'GMAT Score' %></span></p>

             <p class="gdlr-lms-half-left">
            <label>Work Experience and Other Information</label>
            <%= text_field_tag 'member[exp]' , current_user.exp,placeholder: 'Work Experience' %></p>
            
        
            
       
 <div >
<%= submit_tag 'Submit',class: 'wpcf7-form-control wpcf7-submit',name: 'signup',style:'font-size:15px;margin-top: 13px;'%>
<a href="<%=profile_index_path %>">
<input class="wpcf7-form-control wpcf7-submit" name="signup" style="font-size:15px;margin-top: 13px;" type="submit" value="Cancel"></a>


</div>

        </div>
    <%end%> 


                    </div>
                    </div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
  .toggler {
    width: 500px;
    height: 200px;
  }
  #button {
    padding: .5em 1em;
    text-decoration: none;
  }
  #effect {
    position: relative;
    width: 240px;
    height: 135px;
    padding: 0.4em;
  }
  #effect h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
  }
  </style>
  
<script>
$(document).ready(function(){
  <% (0..@app_data.count).each do |f| %>

          
    
        $("#commit<%= f %>").click(function(){
       
            var cuurentuserid = <%= current_user.id; %>
            var schoolname =$('#commitsname<%= f %>').val();
            $.ajax({
                    url: "<%=root_url %>profile/commitschool/"+cuurentuserid+"/"+schoolname,
                      context: document.body
                    }).done(function(r) {

                            
                            location.reload();
                        
                });
         });
     <% end %>
     $('#tags').keyup(function(){
            
            var username =$("#tags").val();
            
            $("#demo").css("display", "block");
            $.ajax({
                    url: "<%=root_url %>colleges/searchusers/"+username,
                      context: document.body
                    }).done(function(r) {

                            document.getElementById("demo").innerHTML = r;
                });
        });

     $('#demo').change(function(){
        var a=$('#demo').val();
        document.getElementById("tags").value = a;
        $("#demo").css("display", "none");
     })
 
});
</script>