<div class="with-sidebar-wrapper" id="base-cont" style="
    margin-left: 4%;">

<div class="gdlr-item gdlr-divider-item"></div>

<!-- <div class="profile_blog_lft">
                <%#= ad_unit(:skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>
                </div> -->
                <div>
                <div class="gdlr-lms-container gdlr-lms-container">
                    <div class="gdlr-lms-item">
                    <%=form_tag profile_create_path, :class =>'gdlr-item gdlr-content-item gdlr-lms-form' do |f| %>
        <p class="gdlr-lms-half-left">
                
                <label style="color:black">Email Address*</label>
                <%= text_field_tag 'email' , "",class: 'form-control' ,placeholder: 'Email' %></p>
                 <p class="gdlr-lms-half-left">
                <label style="color:black">Password*</label>
                <%= password_field_tag 'password' , "",class: 'form-control' ,placeholder: 'Password' %></p>
                
                
        
        <div style="text-align:center;">
        
            <%= submit_tag 'Sign In',class: 'wpcf7-form-control wpcf7-submit',name: 'signin', style: 'font-size: 11px;'   %>    
            <a href="<%= profile_forgotpassword_path %>">Forgot Your Password?</a>
        </div>
       
        <%end%>




                    </div>
                    

                    <!-- <div class="profile_blog_rgt">
                <%#= ad_unit(:skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>
                </div> -->
<div class="clear"></div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<div>    

<h5 style="color:#bfbfbf;text-align:center">Or Login with an existing account:</h5>
    <div style="text-align:center">
        
<a class="gdlr-button small" href="/auth/facebook" target="_self" style="color:#ffffff; background-color:#3b5998;"><i class="gdlr-icon icon-facebook"></i> Login with Facebook</a>                                                        
    
    <a class="gdlr-button small" href="/auth/gplus" target="_self" style="color:#ffffff; background-color:#dd4b39;"><i class="gdlr-icon icon-google-plus"></i> login  with google</a>
    
    
    <a class="gdlr-button small" href="/auth/linkedin" target="_self" style="color:#ffffff; background-color:#007bb6;"><i class="gdlr-icon icon-linkedin-sign"></i> login with linkedin</a>

    
    
    <a class="gdlr-button small" href="/auth/twitter" target="_self" style="color:#ffffff; background-color:#00aced;"><i class="gdlr-icon icon-twitter"></i> login with twitter</a>

    </div>
    
     
    </div>
    <div class="clear"></div>
    </div>
    </div>
        </div>