<style>
	
#th {
    background-color: #3E6AA7;
    color:white;
   font-family: Verdana,Arial,Helvetica,sans-serif;
   font-weight: normal;padding: 9px;text-transform: uppercase;
   font-size: 14px;

    
}
.style-1 tr td{

	font-family: arial;
	font-size: 50;
}
</style>





<div class="gdlr-lms-content">
	<div class="two columns"><%= ad_unit(:skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %></div>
	<div class="eight columns">
			<div class="gdlr-item gdlr-tab-item horizontal"><div class="tab-title-wrapper"><h4 class="tab-title active"><i class="icon-inbox"></i><span>Inbox</span></h4><h4 class="tab-title"><i class="icon-share-alt"></i><span>Outbox</span></h4><h4 class="tab-title"><i class="icon-edit"></i><span>Compose</span></h4></div><div class="tab-content-wrapper"><div class="tab-content active">
			<table class="style-1">
				<tbody>
				<tr>
				<th id="th" style="text-align:left;width: 25%;">Select 
				<a href="#">All</a>| <a href="#">None</a>
				</th><th id="th" style="text-align:center width:50% ">Message</th>
				<th id ="th" style="width:25%">Newest</th>
				</tr>

				<tr>
				<% @inbox.each do |f| %>
				<tr>
				<td style="width:25%">
				<input type="checkbox" id="msg_17231" name="msg_17231" style="padding:0; margin:left">
				<b><%=f.from %></b><br>
				<a href="#"><%=f.subject %></a><br>
				<a href="<%=profile_show_path(f.id) %>">Reply</a>
				<a href="<%=profile_destroy_path(f.id)%>">Delete</a></td>
				<td style="width:50%"><a href="<%=profile_show_path(f.id) %>"><b><%= f.message %></b></a></td>
				<td style="25%"><%= f.created_at.strftime("%B %d, %Y %H:%M") %></td>					
		
				<%end %>
				</tr>		

				</tbody>
				</table>
					
					</div>


					<div class="tab-content">
					<table class="style-1">

				<tbody>

				<tr>
				<th id="th" style="text-align:left;width:25%;">Select 
				<a href="#">All</a>| <a href="#">None</a>
				</th><th id="th" style="text-align:center; width:50% " >Message</th>
				<th id ="th" style="width:25%">Newest</th>
				</tr>
				<% @outbox.each do |f| %>
				<tr>
				<td style="width:25%">
				<input type="checkbox" id="msg_17231" name="msg_17231" style="padding:0; margin:left">
				<b><%=f.name %></b><br>
				<a href="#"><%=f.subject %></a><br>
				<a href="<%=profile_show_path(f.id) %>">Reply</a>
				<a href="<%=profile_destroy_path(f.id)%>">Delete</a></td>
				<td style="width:50%"><b><%= f.message %></b></td>
				<td style="25%"><%= f.created_at.strftime("%B %d, %Y %H:%M") %></td>	</tr>					
		
				<%end %>
				</tbody>
				</table>
					</div><div class="tab-content">
					<%=form_tag profile_compose_path, :class =>'gdlr-item gdlr-content-item gdlr-lms-form' do |f| %>
					<input type="hidden" name="from" value=<%= @usermail %>
		<p>Email id:*<br>
		<span class="wpcf7-form-control-wrap your-name">
		<%= text_field_tag 'name' , "",class: 'form-control' ,placeholder: 'Name' %>
		</span> </p>
		<p>Subject<br>
		<span class="wpcf7-form-control-wrap your-subject">
			<%= text_field_tag 'subject' , "",class: 'form-control' ,placeholder: 'Subject' %>
		</span> </p>
		<p>Your Message<br>
		<span class="wpcf7-form-control-wrap your-message">
		<%= text_area_tag 'message' , "",class: 'form-control' ,placeholder: 'Message' %></span> </p>
		<p></p>
		<div class="wpcf7-response-output wpcf7-display-none"></div>
		<%= submit_tag 'Send',class: 'wpcf7-form-control wpcf7-submit',name: 'send' %>
		
		</div>
	<%end%>

			</div></div><div class="clear"></div></div>
	</div>
	<div class="one columns"></div>
	<div class="one columns"><%= ad_unit(:skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %></div>
	<div class="clear"></div>
</div>