<div class="gdlr-lms-container gdlr-lms-container">
                    <div class="gdlr-lms-item">
<div class="gdlr-item gdlr-divider-item"></div>
<div class="profile_blog_lft" style="border:none">
                <%#= ad_unit(:skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>
                <%=image_tag '1.jpg' %>
                </div>
<div class="profile_blog_lft" style="border:none"></div>
<div class="profile_blog_lft" style="border:none"></div>
<div class="seven column" >
<div class=" container">
	<div class="gdlr-item gdlr-content-item" ><p>
	</p><div class="clear"></div>
	<div class="gdlr-space" style=""></div>
	<div class="clear"></div>
	<div class="gdlr-space" style=""></div>
	<div class="wpcf7" id="wpcf7-f8-o1" lang="en-US" dir="ltr">
	<div class="screen-reader-response"></div>
	<%=form_tag profile_createupdatepwd_path,:class => "gdlr-lms-form" do |f| %>

         <input type="hidden" name="token" id="token" value="<%= params[:token] %>">
        	<p class="gdlr-lms-half-left" style="float:none;">
        	<label>New Password*</label>
        	<input type="password" name="newpassword" id="Newpassword" placeholder="New Password" style="background-color: #ffffff;border-color: #e3e3e3;border: 1px solid;"></p>
        	<p class="gdlr-lms-half-left" style="float:none;">
        	<label>Confirm Password*</label>
        	<input type="password" name="conformpassword" id="conformpassword" placeholder="Confirm Password" style="background-color: #ffffff;border-color: #e3e3e3;border: 1px solid;"></p>
        	
      <p class="gdlr-lms-half-left" style="float:none;">  
 <div style="width:100%;">
<%= submit_tag 'Submit',class: 'wpcf7-form-control wpcf7-submit',name: 'signup',style:'font-size:15px;margin-top: 13px;'%>
</div></p>

		</div>
	<%end%> 
   
	</div><div class="clear"></div> 
</div>




							
				
</div>
   <div class="profile_blog_lft" style="border:none">
                <%#= ad_unit(:skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>
                <%=image_tag '1.jpg' %>
                </div>  
   </div>
   </div>
   <div class="clear"></div> 