<div class="gdlr-lms-container gdlr-lms-container">
                    <div class="gdlr-lms-item">



<div class="gdlr-lms-content">

<div class="one columns"><%= ad_unit(:skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %></div>
<div class="one columns"></div>
<div class="eight columns">
<!-- <div class="four columns">
<div class="gdlr-item-title-wrapper gdlr-item pos-left borderme">
					<h3 class="gdlr-item-title borderme">Members</h3>
				</div>
				</div> -->
				<div class="twelve columns">
<div class="well">
<div id='profind'>
				<table class="style-2">
						<tbody style="text-align:left">
						<tr>
							<th id="th" colspan="3">User Name</th>
							<!-- <th id="th" colspan="3">Email</th> -->
							<th id ="th"colspan="2">GPA</th>
							<th id ="th"colspan="2">GMAT</th>
							<th id ="th"colspan="2">Applied Schools</th>
							<th id ="th"colspan="2">Last Updated</th>
						</tr>
							<%#binding.pry%>
			<% @users.each do |user| %>
			<%if @user.nil?%>
							<tr>
				
			<td colspan="3" style="padding:10px;color:#453232;" > 
				<a href="<%= static_profile_path(user.username) %>"> <%= user.username %> </a> 
			</td>		
			<td colspan="2" style="padding:10px;color:#453232;" > 
			<%= number_with_precision(user.gpa, precision: 2)  %>
			</td>	
			<td colspan="2" style="padding:10px;color:#453232;" > <%= user.gmat_score %> </td>	
			<td colspan="2" style="padding:10px;color:#453232; text-align:left" > 
				<%@application=Application.where('user_id = ?',user.id) %>
				 <% unless @application.empty? %>
					 <%
					 count=1
					 	@application.each do |f|
					 		
					  %>
					  		<%= count %>)<%a= f.school.split('-') %>

							<%= a[1] %>- <%=a[2] %>
					  		<br>
					  		<% count=count+1 %>
					  <%
					    end
					   %>
				  <% else %>
				  	<%= "User not applied for any school" %>
				  <% end %>
		    </td>	
            <td colspan="2" style="padding:10px;color:#453232;" ><%= user.updated_at.strftime("%m-%d-%Y")  %> </td>
			
						
							</tr>
							<%else%>
							<%="Username not exist"%>
							<%end%>
				<% end %>
						
						</tbody>
						</table>
						</div>
						</div>
						<div class="clear"></div>
						</div>
						</div>
						<div class="one columns"></div>	
						<div class="one columns">
		<div class="google_adsense skyscraper" >
			<%= ad_unit(:skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>
		</div>
		</div>
		
		<div class="clear"></div>
		<div class="gdlr-item gdlr-divider-item"></div>
		
</div>
</div>
</div>
</div>