 <footer class="footer-wrapper">
				<div class="footer-container container" style="padding: 0;">
										<div class="footer-container container">
	<div class="footer-column three columns" id="footer-widget-1">
	<div id="text-5" class="widget widget_text gdlr-item gdlr-widget">  <a href="<%=root_url %>"><%=image_tag 'logo@2X_white.png', :style => 'width: 256px;
'%></a> <div class="clear"></div>			
	<div class="textwidget"></div>
	<!-- <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p> -->
</div>
    </div>	
    </div>

										<div class="footer-column four columns widget widget_recent_entries gdlr-item gdlr-widget" id="footer-widget-2" style="margin-right: 3%;margin-left: 8px;margin-bottom: 0;">
	  <div id="gdlr-lms-recent-course-widget-2" class="widget widget_gdlr-lms-recent-course-widget gdlr-item gdlr-widget">
		<h3 class="gdlr-widget-title" style="font-family:arial;font-size: 13px;
" >Quick links</h3><div class="clear"></div>		
		<ul style='list-style:none'>
			<li><a href="<%=root_url %>">Home</a></li>
			<li><a href="<%=profile_index_path %>">Profiles</a></li>
			<li><a href="<%=schools_path%>">Schools</a></li>
			<li><a href="<%=myadvices_myadvice_path %>">My Advice</a></li>
			<li><a href="<%=forums_index_path %>">Forum</a></li>
			<li><a href="<%= subscribes_contactus_path %>">Contact Us</a></li>
			   <li><a href="#">Privacy Policy</a></li>
		</ul>
		</div>
	</div>
										<div class="footer-column four columns" id="footer-widget-3"  >
	<%=form_tag subscribes_subscribe_path, :class => 'gdlr-lms-form' do | f |  %>
		<h3 class="gdlr-widget-title" style="font-family:arial;font-size: 13px;
">Email Newsletter</h3>
			<p class="is-hidden-desktop" id ="color"><b style="font-size: 15px;font-family:arial;font-size: 13px;
">Subscribe for monthly updates and to receive inspiration, ideas, and news in your inbox</b></p>
		<p style="font-family:arial;font-size: 13px;">Your Email (required)&nbsp&nbsp&nbsp
		<span id="error" style="color:red;"></span><br>
	    <span class="wpcf7-form-control-wrap your-email">
	    	<%=text_field_tag :email, '',:id => "email" %>
	    </span> </p>
		<%=submit_tag 'Subscribe', :style => 'padding:12px;width:100%;margin: 0px;margin-top: -10px;' , :onclick => 'return validateform();' %>
	<% end %>
	<div class="gdlr-item gdlr-divider-item"></div>
    <div class="clear"></div>
    <div id="text-8" class="widget widget_text gdlr-item gdlr-widget" style="margin: 0"><h3 class="gdlr-widget-title" style="font-family:arial;font-size: 13px;">Social Media</h3><div class="clear"></div><div class="textwidget"><a href="https://www.facebook.com/pages/Mbanumbers/1619282458305903?skip_nax_wizard=true&ref_type=bookmark" target="_blank"><i class="gdlr-icon icon-facebook" style="color: #bfbfbf; font-size: 15px; "></i></a> <a href="https://twitter.com/infombanumbers" target="_blank"><i class="gdlr-icon icon-twitter" style="color: #bfbfbf; font-size: 15px; "></i></a> <a href="https://plus.google.com/111198438646871692348/about?hl=en-GB&service=PLUS" target="_blank"><i class="gdlr-icon icon-google-plus" style="color: #bfbfbf; font-size: 15px; "></i></a> <a href="https://www.linkedin.com/pub/info-mbanumbers/b3/891/bb9" target="_blank"><i class="gdlr-icon icon-linkedin" style="color: #bfbfbf; font-size: 15px; "></i></a>

</div>
</div>
	</div>
										
									<div class="clear"></div>
		</div>
				
				<div class="copyright-wrapper">
			<div class="copyright-container container">
				<div class="copyright-left">
					MBA Numbers				</div>
				<div class="copyright-right">
					Copyright © 2014 - All Right Reserved - MBA Numbers 				</div>
				<div class="clear"></div>

			</div>
		</div>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>

			</footer>
 			<script type="text/javascript">
	function validateform()
	{
		var email=document.getElementById('email').value
		var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    
		if(email == "")
		{
			document.getElementById('error').innerHTML ="Please Enter Email";
			return false;
		}
		else if(!re.test(email))
		{
			document.getElementById('error').innerHTML ="Please Enter Valid Email";
			return false;
		}
		
	}
 </script>