<header class="gdlr-header-wrapper">
	<div class="top-navigation-wrapper">
		<div class="top-navigation-container container">
			<div class="top-navigation-left" >
				<%= render :partial => 'layouts/logo_with_mobile_menu' %>
			</div>
			<div class="top-navigation-right">
				<div class="gdlr-lms-header-signin">
				<% if current_user.nil? %>
				<a href=""></a>
				<%else %>
					<a class="gdlr-button small" href="<%=profile_index_path%>"  style="color:#ffffff; background-color:#fcaa0c; width: 135px;  font-family: arial;
">
					<span class="gdlr-icon  icon-user" style="color: #4F4F4F;font-size: 16px; font"></span>My Profile</a>
					<%end %>
				<% if current_user.nil? %>
					<a class="gdlr-button small" href="<%=profile_login_path %>"  style="color:#ffffff; background: #989490; width:121px;  font-family: arial;
 ">
					<span class="gdlr-icon icon-signin" style="color: black;font-size: 16px;"></span> Login</a>
				<% else %>
					 <a class="gdlr-button small" href="/logout"  style="color:#ffffff; background: #989490; width:110px;  font-family: arial;
 ">
					 <span class="gdlr-icon icon-signout" style="color: black;font-size: 16px;"></span>Logout</a> 
				<% end %>
					<% if current_user.nil? %>
					<a class="gdlr-button small" href="<%=members_signup_path%>"  style="color:#ffffff; background-color:#fcaa0c; width: 135px;  font-family: arial;
">
					<span class="gdlr-icon  icon-upload-alt" style="color: #4F4F4F;font-size: 16px;"></span>Sign Up</a>
				<% else %>
				<a class="gdlr-button small" href="<%= profile_settings_path %>"  style="color:#ffffff; background-color:#fcaa0c; width:110px;  font-family: arial;
 ">
				<span class="gdlr-icon icon-gears" style="color: #4F4F4F;font-size: 16px;"></span>Settings
				</a>
				<% end %>

				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="gdlr-header-inner">
		<div class="gdlr-header-container container">
			<%= render :partial => 'layouts/navigation' %>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
</header>