
<div id = "nav">

<header class="gdlr-header-wrapper" style="line-height: 19px;">
<div class="gdlr-header-inner" style="font-size: 13px;">
<div class="gdlr-header-container container">
<!-- logo -->
<div class="gdlr-logo">
<div class="crebuttons">
<% if current_user.nil? %>
				<a href=""></a>
				<%else %>
					<a class="gdlr-button small" href="<%=profile_index_path%>"  style="color:#ffffff; background-color:#fcaa0c; width: 135px;">
					<span class="gdlr-icon  icon-user" style="color: #4F4F4F;font-size: 16px;"></span>My Profile</a>
					<%end %>
<% if current_user.nil? %>
<a class="gdlr-button small" href="<%=profile_login_path %>" style="color:#ffffff; background: #989490; ">Student Login</a>
<%else %>
<a class="gdlr-button small" href="/logout" style="color:#ffffff; background: #989490; ">Logout</a>
<%end %>
<% if current_user.nil? %>
<a class="gdlr-button small" href="<%=members_signup_path%>" style="color:#ffffff; background-color:#fcaa0c; ">Enroll Now</a>
<%else %>
<a class="gdlr-button small" href="<%= profile_settings_path %>"  style="color:#ffffff; background-color:#fcaa0c; width:112px ">
				<span class="gdlr-icon icon-gears" style="color: #4F4F4F;font-size: 16px;"></span>Settings
				</a>
				<% end %>

</div>
<div class="gdlr-responsive-navigation dl-menuwrapper" id="gdlr-responsive-navigation" >
<!--------- Mobile ----------- -->
<button class="dl-trigger">Open Menu</button>
<ul id="menu-main-menu" class="dl-menu gdlr-main-mobile-menu">
<li id="menu-item-3263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3263"><a href="<%= root_path %>">Home </a></li>
<li id="menu-item-3383" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-3383"><a href="<%= profile_index_path %>">Profile Search</a>
<ul class="dl-submenu">
<li id="menu-item-3319" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-3312 current_page_item menu-item-3319"><a href="<%= topusers_path %>">NEWEST PROFILES</a></li>
<li id="menu-item-3318" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3318"><a href="<%=profile_profileupdates_path %>">RECENTLY UPDATED</a></li>
<!-- <li id="menu-item-3320" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3320"><a href="http://themes.goodlayers.com/clevercourse/author/rebeccasm/">By GMAT</a></li>
<li id="menu-item-3325" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3325"><a href="#">By GPA</a></li> -->
<li id="menu-item-3455" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3455"><a href="<%= profile_name_path %>">SEARCH BY NAME</a></li>
</ul>
</li>
<li id="menu-item-3132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3132">
<a href="<%= schools_path %>">MBA Schools</a>
<ul class="dl-submenu">
<li id="menu-item-3131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3131">
<a href="<%= schools_ranking_path %>">BY RANKING</a>
</li>

<li id="menu-item-3162" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3162">
<a href="<%= schools_state_path %>">BY STATE</a>
</li>
</ul>
</li>
<li id="menu-item-3344" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3344">
<a href="<%= myadvices_myadvice_path %>">My Advice</a>
</li>
<li id="menu-item-3046" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3046">
<a href="<%= forums_index_path %>">Forum</a>
</li>
<li id="menu-item-3040" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3040">
<a href="<%= subscribes_contactus_path %>">Contact Us</a>
</li>
</ul>
</div>
</div>
<!-------------------- Mobile end ------------>
<!-- navigation -->
<!----------------- Desk top start ------------- -->
 <div class="gdlr-navigation-wrapper" style="margin-top:112px;padding-top: 3px;
margin-top: 0px;">
<div class="crebuttons">
<a class="gdlr-button small" href="#" style="color:#ffffff; background: #989490; ">Student Login</a>
<a class="gdlr-button small" href="#" style="color:#ffffff; background-color:#fcaa0c; ">Enroll Now</a>
</div>
<nav class="gdlr-navigation" id="gdlr-main-navigation" role="navigation">
<ul id="menu-main-menu-1" class="sf-menu gdlr-main-menu">
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3263menu-item menu-item-type-post_type menu-item-object-page menu-item-3263 gdlr-normal-menu">
<a href="<%= root_path %>" style="font-weight:700;color:black;font-size: 100%;margin-top: 12px; font-family:arial" onclick="return validate();"><strong>
	<b>Home</b> </strong></a> 
</li>

<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3263menu-item menu-item-type-post_type menu-item-object-page menu-item-3263 gdlr-normal-menu" style="margin-top: 12px;opacity: 2.5" >
<label style="margin-top: 12px;
">|</label> 
</li>

<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-3383menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-3383 gdlr-normal-menu" style="margin-left: 12px;">
<a href="<%= profile_index_path %>" style="font-weight:700;color:black;font-size: 100%;opacity: 2.5;margin-top: 12px;

font-family:arial">Profile Search</a>
<ul class="sub-menu">
<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-3312 current_page_item menu-item-3319">
<a href="<%= topusers_path %>" style="font-size: 100%;font-family:arial">NEWEST PROFILES</a>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3318">
<a href="<%=profile_profileupdates_path%>" style="font-size: 100%;font-family:arial">RECENTLY UPDATED</a></li>

<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3455">
<a href="<%= profile_name_path %>" style="font-size: 100%;font-family:arial">SEARCH BY NAME</a>
</li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3263menu-item menu-item-type-post_type menu-item-object-page menu-item-3263 gdlr-normal-menu" style="margin-top: 12px;opacity: 2.5">
<label style="margin-top: 12px;">|</label> 
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-3383menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-3383 gdlr-normal-menu" style="margin-left:12px;">
<a href="<%= schools_path %>" style="font-weight:700;color:black;font-size: 100%;opacity: 2.5;margin-top: 12px;font-family:arial
">MBA Schools</a>
<ul class="sub-menu">
<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-3312 current_page_item menu-item-3319">
<a href="<%= schools_ranking_path %>" style="font-size: 100%;font-family:arial">BY RANKING</a>
</li>

<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3320">
<a href="<%= schools_state_path %>" style="font-size: 100%;font-family:arial">BY STATE</a>
</li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3263menu-item menu-item-type-post_type menu-item-object-page menu-item-3263 gdlr-normal-menu" style="margin-top: 12px;opacity: 2.5">
<label style="margin-top: 12px;">|</label> 
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3344menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3344 gdlr-normal-menu" style="margin-left:12px;">
	<a href="<%= myadvices_myadvice_path %>" style="font-weight:700;color:black;font-size: 100%;margin-top: 12px;font-family:arial
">My Advice</a>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3263menu-item menu-item-type-post_type menu-item-object-page menu-item-3263 gdlr-normal-menu" style="margin-top: 12px;opacity: 2.5">
<label style="margin-top: 12px;">|</label> 
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3046menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3046 gdlr-normal-menu" style="margin-left:12px;margin-top: 12px;">
	<a href="<%= forums_index_path %>" style="font-weight:700;color:black;
	font-size: 100%;
	font-family:arial">Forum</a>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3263menu-item menu-item-type-post_type menu-item-object-page menu-item-3263 gdlr-normal-menu"style="margin-left:12px;margin-top: 12px;opacity: 2.5">
<label style="margin-top: 12px;">|</label> 
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3040menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3040 gdlr-mega-menu" style="margin-left:12px;font-family:arial">
<a href="<%= subscribes_contactus_path %>" style="font-weight:700;color:black;
font-size: 100%;margin-top: 12px;font-family:arial
">CONTACT</a>
<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
</li>
</ul>
</nav>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>
</div>
<div class="clear"></div>
</header>
</div>
<style>
	a:hover {
    color: #FF00FF;
}
a:active {
    color: #0000FF;
}
</style>